<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">

<!-- titulo de la aplicacion web  -->
<title>Aplicacion Flask + Psycopg2</title>

<!-- importar paquetes de estilos de la pagina web  -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Aplicacion Flask + Psycopg2</a>
    </nav>
    
    <div class="container pt-4">
      {% block body %}
      {% endblock %}
    </div>

<!-- ejecuta boton delete y manda a instruccion a la base de datos para que borre el elemento  -->
<script>
const btnDelete= document.querySelectorAll('.btn-delete');

// actualiza dimensiones de la tabla 
$(document).ready(function() {
    $('#example').DataTable({     
      "aLengthMenu": [[3, 5, 10, 25, -1], [3, 5, 10, 25, "All"]],
        "iDisplayLength": 3
       } 
    );
} );
</script>

  </body>
</html>